/* This is just an example.  You shouldn't do this. */
@namespace xul url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#wb-popup{
  min-width: 300px;
  font-size: medium;
  font-family: sans-serif;
}

#wb-popup vbox{
  margin: 5px;
  background: #CFCFCF !important;
  opacity: 0.8;
}

#wb-popup label {
  display: block;
  text-align: center;
}

hbox#wb-close{
  position: absolute;
  right: 1px; 
}

image#wb-popup-close{
  margin: 3px;
}

#wb-snapshot-count{
  text-shadow: black 0.1em 0.1em 0.2em
  margin-top: 2px !important;
}

#wb-snapshot-date{
  font-size: large;
  color: #BF0000;
  text-shadow: black 0.1em 0.1em 0.2em
}
#wb-snapshot-date:before{
  content:'↩ ';
}

